<div class="card-detail" *ngFor='let course of pageSlice'>
    <mat-card>
        <mat-card-header>
                    <mat-card-title-group>
                        <div>
                            <img class="course-image" [src]="course.previewImageLink + '/cover.webp'">
                        </div>
                        <div>
                            <mat-card-title>{{ course.title }}</mat-card-title>
                            <mat-card-subtitle>{{ course.description }}</mat-card-subtitle>
                        </div>
                    </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>
    <mat-paginator
      [length]="courses.length"
      [pageSize]="10"
      (page) = "onPageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
